<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agonyaunt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name="com.example.agonyaunt.MoodTracker" -->
        <!-- android:label="@string/title_activity_mood_tracker" -->
        <!-- android:parentActivityName="com.example.agonyaunt.HomeMenu" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.agonyaunt.HomeMenu" /> -->
        <!-- </activity> -->
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.agonyaunt.HomeMenu" />
        </activity>
        <activity
            android:name=".MyPreferences"
            android:label="@string/title_activity_my_preferences"
            android:parentActivityName=".HomeMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.agonyaunt.HomeMenu" />
        </activity>
        <activity
            android:name=".NotificationReceiverActivity"
            android:label="@string/title_activity_create_notification" >
        </activity>

        <service
            android:name=".Alarm"
            android:enabled="true" />
        <service
            android:name=".NotificationService"
            android:enabled="true" />

        <activity
            android:name=".AllPatients"
            android:label="@string/title_activity_all_patients" >
        </activity>
        <activity
            android:name=".NewPatientActivity"
            android:label="@string/title_activity_new_patient" >
        </activity>
        <activity
            android:name=".EditPatientActivity"
            android:label="@string/title_activity_edit_patient" >
        </activity>
    </application>


</manifest>